body {
  background: #19191F;
}

.red{
  color:#D14836;
}

.blue{
  color: rgb(52, 158, 255);
}

.green {
  color:green;
}

h2 {
  color: #fecd1a;
  text-align: center;
  font-family: Trebuchet MS, sans-serif;
}